<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-flex-layout/iron-flex-layout-classes.html">

<link rel="import" href="../styles/page.style.html">
<link rel="import" href="../styles/colors.style.html">

<dom-module id="error-404-view">
  <template>
  <style include="page-style colors-style iron-flex iron-flex-alignment">
  :host {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: var(--app-background-color);
  }

  iron-icon {
    width: 160px;
    height: 160px;
  }

  .bigText {
    font-size: 11em;
  }

  @media (min-width: 740px) {
    iron-icon {
      width: 300px;
      height: 300px;
    }

    .bigText {
      font-size: 22em;
    }
  }
  </style>

  <div class="layout horizontal center">
    <div class="color-accent bigText">4</div>
    <iron-icon class="color-accent" icon="face"></iron-icon>
    <div class="color-accent bigText">4</div>
  </div>

  </template>
  <script>
  Polymer({
    is: 'error-404-view',

    properties: {
      pageData: {
        type: Object,
        value: {
          title: "404",
          description: "Cette page n'existe pas"
        }
      }
    },
  });
  </script>
</dom-module>
