<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/app-route/app-route.html">
<link rel="import" href="../../bower_components/iron-pages/iron-pages.html">

<link rel="import" href="../components/loader.component.html">
<link rel="import" href="../components/section.component.html">
<link rel="import" href="../components/notification-registerer.component.html">

<link rel="import" href="../behaviors/page.behavior.html">
<link rel="import" href="../behaviors/page-transition.behavior.html">
<link rel="import" href="../behaviors/navigation.behavior.html">
<link rel="import" href="../behaviors/toaster-control.behavior.html">

<link rel="import" href="../data/admin-menu.data.html">

<link rel="import" href="../styles/transition-block.style.html">
<link rel="import" href="../styles/page.style.html">

<dom-module id="admin-view">
	<template>
	<style include="page-style transition-block-style">
	:host {
		display: block;
	}

	#loadingBackground {
		background-color: var(--app-white);
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	#transitionBlock {
		box-shadow: var(--app-shadow);
	}

	#loader {
		--app-loader-color: var(--app-primary-color);
	}
	</style>

	<app-route
	route="[[route]]"
	pattern="/:page"
	data="{{routeData}}"></app-route>

	<notification-registerer id="notif" backend="[[appData.backend]]" user="[[user]]"></notification-registerer>
	<admin-menu-data pages="{{pages}}"></admin-menu-data>

	<app-section online="[[online]]" disable-tabs="[[navigating]]" back="true" heading="Admin" menu="[[pages]]" selected="[[page]]" main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
		<div id="loadingBackground" tabindex="-1">
			<app-loader id="loader"></app-loader>
		</div>

		<section id="transitionBlock">
			<iron-pages selected="[[page]]" attr-for-selected="name">
				<admin-order-list-view user="[[user]]" app-data="[[appData]]" name="order-list"></admin-order-list-view>
				<admin-product-list-view name="product-list"></admin-product-list-view>
				<admin-metrics-view name="metrics"></admin-metrics-view>
				<inactivity-period-view name="inactivity-period"></inactivity-period-view>
				<shipping-grid-view name="shipping-grid"></shipping-grid-view>
				<admin-schedules-view name="schedules"></admin-schedules-view>
			</iron-pages>
		</section>
	</app-section>

</template>
<script>
'use strict';
Polymer({
	is: 'admin-view',

	properties: {
		defaultPage: {
			type: String,
			value: 'order-list'
		},

		viewsPath: {
			type: String,
			value: './admin-'
		},

		pageData: {
			type: Object,
			value: {
				category: "Administrateur",
				topic: null,
				path: "admin"
			}
		},

		user: Object,
		appData: Object
	},

	listeners: {
		'section-button': '_redirect'
	},

	behaviors: [window.PageBehavior, window.PageTransitionBehavior, window.NavigationBehavior, window.ToasterControlBehavior],

	_onSelected: function(){
		if(!this.user || this.user.role !== 'admin') this.goTo('/');
	},

	_redirect: function(e) {
		e.stopPropagation();
		this.pageItem.$.target.fire('section-button');
	}

});
</script>
</dom-module>
