<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../components/section.component.html">

<link rel="import" href="../behaviors/page.behavior.html">

<link rel="import" href="../styles/page.style.html">
<link rel="import" href="../styles/tile.style.html">
<link rel="import" href="../styles/colors.style.html">

<dom-module id="cgu-view">
	<template>
		<style include="tile-style page-style colors-style">
			:host {
				display: block;
			}
		</style>

		<app-section back="true" heading="Conditions générales de vente et d'utilisation du site"
			main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
			<div class="tile">
				<h2>INTRODUCTION</h2>
				<p>
					Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de
					l’entreprise UN P’TIT COIN D’SAVONNERIE, entreprise individuelle de Annelies Douhard et de ses
					Clients dans le cadre de la vente des marchandises suivantes : savons, autres cosmétiques bio,
					accessoires. Elles s’appliquent à l’exclusion de tout autre document Le site
					<a>https://ptitcoinsavonnerie.fr</a> est un site d’information et de commerce électronique
					accessible par
					le réseau Internet, ouvert à tout utilisateur de ce réseau. Il est édité par la société UN P’TIT
					COIN D’SAVONNERIE et permet de proposer à la vente des savons fabriqués par UN P’TIT COIN
					D’SAVONNERIE et autres cosmétiques ou accessoires à des Internautes naviguant sur le site, ci-après
					dénommés « Utilisateurs ». L’Utilisateur ayant validé une commande sera dénommé « Client ». Les
					droits et obligations de l’Utilisateur s’appliquent nécessairement au Client. Toute commande d’un
					produit proposé sur le site suppose la consultation et l’acceptation expresse des présentes
					conditions générales de vente et de rétractation. En validant sa commande, le client déclare avoir
					lu et accepté sans réserve les présentes "Conditions Générales de Vente et d’Utilisation du site ».
				</p>

				<h2>IDENTITÉ DE L’ENTREPRISE</h2>

				<p>
					Annelies DOUHARD, entreprise individuelle, désignée ci-après par son nom commercial UN P’TIT COIN
					D’SAVONNERIE, enregistrée au Registre du Commerce de Créteil depuis le 28 mars 2017 sous le N° 379
					707 714 N°SIRET 37970771400026 / Code APE 2042Z Adresse postale : Un p’tit coin d’Savonnerie 4 bis
					avenue des Sorbiers F-94210 – La Varenne Saint Hilaire Personne responsable : Annelies Douhard Tél :
					06 37 45 56 33 <a href="mailto: contact@ptitcoinsavonnerie.fr">contact@ptitcoinsavonnerie.fr</a>

				</p>

				<h2>PRODUITS</h2>

				<p>
					Conformément à l’Article L 111-1 du Code de la consommation, le Client doit pouvoir prendre
					connaissance des caractéristiques essentielles des produits avant la commande. UN P’TIT COIN
					D’SAVONNERIE présente les caractéristiques de ses produits avec la plus grande précision possible.
					En cas d’erreur, UN P’TIT COIN D’SAVONNERIE ne pourra pas être tenu pour responsable. Les
					photographies et textes illustrant les produits n’entrent pas dans le champ contractuel. UN P’TIT
					COIN D’SAVONNERIE se réserve le droit de remplacer un savon de forme rectangulaire par une autre
					forme du même poids. Les offres présentées par UN P’TIT COIN D’SAVONNERIE ne sont valables que dans
					la limite des stocks disponibles. En cas d’indisponibilité d’un produit, le Client sera informé au
					plus vite. Afin de préserver toutes leurs propriétés, les savons doivent être conservés jusqu’à leur
					utilisation à l’abri de l’humidité, de la lumière et d’une température élevée. La revente des
					produits fabriqués par UN P’TIT COIN D’SAVONNERIE n’est pas autorisée sauf accord écrit et
					contractuel avec la société détentrice de la marque.
				</p>

				<h2>PRIX</h2>

				<p>
					Les prix des marchandises vendues sont ceux en vigueur le jour de la prise de commande. Ils sont
					libellés en Euro TTC (toutes taxes comprises). Ils seront majorés des frais de transport applicables
					le jour de la commande. UN P’TIT COIN D’SAVONNERIE s'accorde le droit de modifier ses tarifs à tout
					moment. Toutefois, UN P’TIT COIN D’SAVONNERIE s'engage à facturer les marchandises commandées aux
					prix indiqués lors de l'enregistrement de la commande.
				</p>

				<h2>ENREGISTREMENT ET VALIDATION DE COMMANDE</h2>

				<p>
					L'Utilisateur peut prendre connaissance des produits proposés à le vente, naviguer librement sur les
					différentes pages du site et ajouter des produits au panier sans être engagé au titre d’une
					commande. Il pourra obtenir un récapitulatif des produits qu’il a sélectionnés en cliquant sur le
					panier. L'Utilisateur qui souhaite commander un produit doit suivre la procédure suivante :
				<ul>
					<li>
						Créer un compte en remplissant la fiche d'identification sur laquelle il indiquera toutes les
						coordonnées demandées.
					</li>
					<li>
						Ou s’identifier en saisissant son adresse e-mail et le mot de passe confidentiel qu’il aura
						préalablement choisi lors de la création de son compte.
					</li>
					<li>
						L'Utilisateur est informé et accepte que la saisie de ces deux identifiants (adresse e-mail et
						mot de passe) vaut preuve de son identité et manifeste son consentement.
					</li>
					<li>
						L'Utilisateur devra valider le bon de commande après avoir vérifié la nature, la quantité et le
						prix des produits sélectionnés, le montant total de la commande, les frais de port et l’adresse
						de livraison.
					</li>
					<li>
						L'Utilisateur devra effectuer le paiement par les moyens proposés.
					</li>
					<li>
						En validant sa commande, l'Utilisateur est considéré comme ayant accepté en connaissance de
						cause et sans réserve les présentes conditions générales de vente, ainsi que les prix affichés,
						volumes et quantités des produits proposés à la vente et commandés. Cette validation à valeur de
						« signature numérique ».
					</li>
					<li>
						Une modification de la commande après validation n’est pas possible.
					</li>
				</ul>
				Cependant, l’Utilisateur peut annuler sa commande par e-mail dans l'heure suivant sa validation. La
				vente ne sera considérée comme définitive qu'après envoi à l'Utilisateur de la confirmation de la
				commande par UN P’TIT COIN D’SAVONNERIE et encaissement de l'intégralité du prix.
				La date de livraison indiquée sur le site ou le récapitulatif de commande est estimative. UN P’TIT COIN
				D’SAVONNERIE s’engage à livrer le bien sans retard injustifié et au plus tard trente jours après la
				conclusion du contrat, conformément aux articles L.216-1 à L.216-3 du code de la consommation.
				</p>

				<h2>MODALITÉS DE PAIEMENT</h2>

				<p>
					Les commandes sont payables en Euro, par l’un des moyens de paiement proposés :
				<ul>
					<li>Paypal</li>
					<li>Carte bancaire</li>
				</ul>
				Il est précisé qu'en effectuant un règlement par carte bancaire ou Paypal, l'Utilisateur sera alors
				basculé automatiquement sur le serveur monétique de la plateforme de paiement sécurisé. Cette plateforme
				fait l'objet d'une sécurisation par cryptage S.S.L. (Secure Socket Layer) de manière à protéger toutes
				les données liées aux moyens de paiement, et qu'à aucun moment les données bancaires de l'Utilisateur ne
				sont persistées sur le système informatique d’UN P’TIT COIN D’SAVONNERIE. Dès la validation du paiement
				par
				l’Utilisateur, la commande est enregistrée. L'Utilisateur devient Client. UN P’TIT COIN D’SAVONNERIE
				envoie au Client une confirmation de commande qui sera considéré comme preuve des relations
				contractuelles intervenues entre les parties. Conformément à l'article « Droit de rétractation »
				ci-après, le Client dispose d'un droit de rétractation et de remboursement, pendant un délai de quatorze
				(14) jours ouvrables à compter de la date de réception des produits par le Client. Le Client a également
				la possibilité d’acheter les produits présentés sur le site en se rendant à l’atelier de fabrication
				situé au 4bis avenue des Sorbiers, 94210 La Varenne Saint Hilaire, aux horaires d’ouverture spécifiés
				sur le site. UN P’TIT COIN D’SAVONNERIE accepte les moyens de paiement suivants pour une vente à
				l’Atelier :

				<ul>
					<li>Carte bancaire</li>
					<li>Espèces en Euro</li>
					<li>Chèque bancaire ou postal</li>
					<li>Monnaie locale « La Pêche »</li>
				</ul>

				Preuve de la transaction et du paiement : Les données enregistrées par le système informatique d’UN
				P’TIT COIN D’SAVONNERIE ont force probante, sauf erreur manifeste dont le Client a la charge de la
				preuve.
				</p>

				<h2>MODALITÉS DE LIVRAISON</h2>

				<p>
					Livraison uniquement en France métropolitaine. Les commandes sont traitées du lundi au vendredi,
					elles sont expédiées dans un délai de 48 heures ouvrées après réception du règlement, en enveloppe à
					bulles ou carton selon la quantité de produits commandés. La livraison en France métropolitaine est
					effectuée par Colissimo, en 2 à 3 jours ouvrables, avec livraison en boîte aux lettres (si la taille
					du colis le permet). Le délai de livraison indiqué lors de l'enregistrement de la commande est donné
					à titre indicatif. UN P’TIT COIN D’SAVONNERIE s’engage à livrer le bien sans retard injustifié et au
					plus tard trente jours après la conclusion du contrat, conformément aux articles L.216-1 à L.216-3
					du code de la consommation. Les produits sont livrés à l’adresse indiquée par l’Utilisateur sur le
					bon de commande. Toute réclamation résultant d’un renseignement erroné de la part de l’Utilisateur
					ne sera prise en compte en cas de livraison retardée ou non distribuée. Toute anomalie concernant la
					livraison (colis ouvert, colis endommagé, produits endommagés…) devra être impérativement indiquée
					sur le bon de transport sous forme de "réserves manuscrites", accompagnée de la signature du Client,
					en cas de remise du colis contre signature, et signalée immédiatement par e-mail à UN P’TIT COIN
					D’SAVONNERIE, avec photo pour les colis livrés en boîte aux lettres, afin qu’une réclamation puisse
					être faite auprès de Coliposte. En cas de produits endommagés, UN P’TIT COIN D’SAVONNERIE renverra
					au Client le ou les produits de remplacement, à ses frais. Si le ou les produits perdus n’étaient
					plus disponibles à ce moment, UN P’TIT COIN D’SAVONNERIE rembourserait au Client le montant de ces
					produits.
				</p>

				<h2>DROIT DE RÉTRACTATION</h2>

				<p>
					Conformément à l’article L. 221-18 du Code de la Consommation, le Client dispose d'un droit de
					rétractation de quatorze (14) jours à compter de la réception de la totalité de sa commande sans
					nécessairement donner de motif. Pour exercer le droit de rétractation, le client doit notifier sa
					décision de rétractation de sa commande par une déclaration écrite dénuée d’ambigüité en précisant
					son nom et prénom, e-mail, adresse, numéro et date de commande, ou en utilisant le <a
						href="https://firebasestorage.googleapis.com/v0/b/savon-1df9a.appspot.com/o/legal%2FFormulaire%20de%20re%CC%81tractation.pdf?alt=media&token=275e288c-9b7b-4de4-a3af-1cea9dba8ac6"
						target="_blank">formulaire de
						rétractation téléchargeable ici</a>, conformément à l’article 221-21du Code de la Consommation.
					La demande de rétractation doit être envoyée par courriel à <a
						href="mailto: contact@ptitcoinsavonnerie.fr">contact@ptitcoinsavonnerie.fr</a>

					ou par courrier à Un p’tit coin d’Savonnerie - 4 bis avenue des Sorbiers – F-94210 – La Varenne
					Saint Hilaire.
					Le Client renvoie ou restitue les biens à UN P’TIT COIN D’SAVONNERIE, sans retard excessif et, au
					plus tard, dans les quatorze jours suivant la communication de sa décision de se rétracter.
					Les produits retournés doivent être non utilisés, complets, non abîmés et emballés correctement. Le
					retour des colis doit s'effectuer à l'adresse suivante : Un p’tit coin d’Savonnerie 4 bis avenue des
					Sorbiers F-94210 La Varenne Saint Hilaire, accompagné du <a
						href="https://firebasestorage.googleapis.com/v0/b/savon-1df9a.appspot.com/o/legal%2FFormulaire%20de%20retour.pdf?alt=media&token=2d820519-572e-482c-a1d5-2765307f87d4"
						target="_blank">bon de retour téléchargeable ici</a> ou des
					informations suivantes sur papier libre : nom et prénom, e-mail, adresse, numéro et date de
					commande. Le Client prend en charge les frais de renvoi de la commande complète ou des produits,
					conformément à l’article L221-23 du Code de la Consommation.
					Conformément aux dispositions de l’article L. 221-24 du Code de la Consommation, dans le cadre de
					l’exercice du droit de rétractation, le remboursement sera effectué, au plus tard dans les 14 jours
					à compter du jour où UN P’TIT COIN D’SAVONNERIE est informé de la décision de rétractation du Client
					et en utilisant le même mode de paiement que celui utilisé par le client.
					UN P’TIT COIN D’SAVONNERIE pourra différer ce remboursement jusqu'à récupération des biens ou
					jusqu'à ce que le client ait fourni une preuve de l'expédition de ces biens, la date retenue étant
					celle du premier de ces faits.
				</p>

				<h2>GARANTIE LEGALE DE CONFORMITE (articles L.217- 7 à L.217-14 du Code de la consommation)</h2>
				<p>
					Un p’tit coin d’Savonnerie doit livrer un bien conforme au contrat. <br>
					<b>Conformité du bien</b> <br>
					Un bien est conforme, selon l’article L.217-5, lorsqu’il est soit propre à l’usage habituellement
					attendu d’un bien similaire, le cas échéant, etc. :
				<ul>
					<li>qu'il correspond à la description du vendeur.</li>
					<li>
						qu’il présente les qualités qu’un consommateur peut légitimement attendre suite aux déclarations
						publiques du vendeur, producteur ou représentant (publicité, étiquetage, etc,). Les déclarations
						de ces deux derniers professionnels ne lient pas le vendeur lorsque celui-ci ne les connaît pas
						et n’est pas en mesure légitime de les connaître.
					</li>
					<li>
						présente les caractéristiques définies par les parties ou être propre à l’usage spécial
						recherché par l’acheteur, connu du vendeur et accepté.
					</li>
				</ul>
				<b>Délais</b>
				L’action en garantie de conformité se prescrit par 2 ans à compter de la délivrance du bien.
				<table>
					<tbody>
						<tr>
							<td>
								Le Client bénéficie d’un délai de deux ans à compter de la délivrance du bien pour agir.
								Le Client peut choisir entre la réparation ou le remplacement du bien, sous réserve des
								conditions de coût prévues par l’article L. 217-9 du code de la consommation.
								Le Client est dispensé de rapporter la preuve de l’existence du défaut de conformité du
								bien durant les six mois suivant la délivrance du bien. Ce délai est porté à
								vingt-quatre mois à compter du 18 mars 2016.
							</td>
						</tr>
					</tbody>
				</table>
				<b>Exceptions</b>
				Le consommateur ne peut pas faire jouer la garantie de conformité de l’article L.217-8 dans trois cas :
				<ul>
					<li>lorsqu’il avait connaissance du défaut au moment de contracter.</li>
					<li>lorsqu’il ne pouvait ignorer le défaut au moment de contracter.</li>
					<li>lorsque le défaut résulte de matériaux qu’il a lui-même fournis.</li>
				</ul>
				<b>Mise en œuvre de la garantie de conformité</b>
				Lorsqu’il y a défaut de conformité, Un p’tit coin d’Savonnerie propose au Client le remplacement du
				bien. Le consommateur peut obtenir la résolution du contrat ou sa réfaction (réduction du prix du bien)
				si le défaut est majeur et que le délai de la solution choisie excède 1 mois à partir de la demande ; ou
				qu’aucune modalité de mise en conformité n’est possible. Aucun frais ne peut être demandé au
				consommateur pour le remplacement, la réparation, la résolution ou la réfaction du contrat.
				</p>
				<h2>GARANTIE LEGALE CONTRE LES VICES CACHES (articles 1641 à 1649 du Code civil)</h2>
				<p>
					Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent
					impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne
					l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus. La garantie
					légale couvre tous les frais entraînés par les vices cachés.
					Le professionnel n'est pas tenu des vices apparents et dont l'acheteur a pu se convaincre lui-même,
					mais des vices cachés, quand bien même il ne les aurait pas connus, à moins que, dans ce cas, il
					n'ait stipulé qu'il ne sera obligé à aucune garantie.
					Le défaut doit être antérieur à la vente et rendre les biens impropres à l'usage auquel ils sont
					destinés.
					L'acheteur a le choix de :

				<ul>
					<li>rendre la chose et se faire restituer le prix.</li>
					<li>
						garder la chose et se faire rendre une partie du prix. Le délai pour agir est de 2 ans à compter
						de la découverte du vice. Ce sont les juges du fond qui apprécient souverainement si la chose
						vendue est impropre à sa destination.
					</li>

				</ul>
				Pour faire valoir la garantie légale de conformité ou la garantie des vices cachés pour un produit
				directement vendu par UN P’TIT COIN D’SAVONNERIE, écrivez à <a
					href="mailto: contact@ptitcoinsavonnerie.fr">contact@ptitcoinsavonnerie.fr</a>
				. ou envoyez un
				courrier à UN P’TIT COIN D’SAVONNERIE, 4 bis avenue des Sorbiers, 94210 La Varenne Saint-Hilaire,
				France.
				</p>
				<h2>LITIGES</h2>

				<p>
					Les présentes conditions générales sont soumises au droit français. UN P’TIT COIN D’SAVONNERIE ne
					peut être tenu pour responsable des dommages de toute nature, tant matériels qu'immatériels ou
					corporels, qui pourraient résulter de la mauvaise utilisation des produits commercialisés. En cas de
					litige, le Client s'adressera par priorité à UN P’TIT COIN D’SAVONNERIE pour obtenir une solution
					amiable. Les réclamations ou contestations seront toujours reçues avec bienveillance.
					POSSIBILITE DE RECOURS A UN MEDITAEUR DE LA CONSOMMATION
					Conformément aux articles L.616-1 et R.616-1 du code de la consommation, nous proposons un
					dispositif de médiation de la consommation. L'entité de médiation retenue est : CNPM - MEDIATION DE
					LA CONSOMMATION. En cas de litige, vous pouvez déposer votre réclamation sur son site :
					https://cnpm-mediation-consommation.eu ou par voie postale en écrivant à CNPM - MEDIATION -
					CONSOMMATION - 27 avenue de la libération - 42400 Saint-Chamond. »
				</p>

				<h2>TRAITEMENT DE VOS DONNÉES PERSONNELLES</h2>

				<p>
					Conformément à la loi Informatique et Libertés du 6 janvier 1978, l’Utilisateur bénéficie d’un droit
					d’accès, de rectification et de suppression des informations le concernant, qu’il peut exercer en
					écrivant à <a href="mailto: contact@ptitcoinsavonnerie.fr">contact@ptitcoinsavonnerie.fr</a>
					ou à UN P’TIT COIN D’SAVONNERIE - 4 bis avenue des Sorbiers
					– F-94210 – La Varenne Saint Hilaire. Les données collectées ont fait l’objet d’une déclaration n°
					2054806 v O à la CNIL en date du 14/04/2017.
				</p>

				<h2>PROPRIÉTÉ INTELLECTUELLE</h2>

				<p>« UN P’TIT COIN D’SAVONNERIE » est une marque protégée.</p>
			</div>
		</app-section>
	</template>
	<script>
		'user strict';
		Polymer({
			is: 'cgu-view',

			properties: {
				pageData: {
					type: Object,
					computed: '_computePageData(appData)'
				},
			},

			behaviors: [window.PageBehavior],

			_computePageData: function (appData) {
				return {
					title: 'CGU',
					description: "Conditions générales d'utilisation de " + appData.name + "."
				}
			},
		});
	</script>
</dom-module>