<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../components/section.component.html">

<link rel="import" href="../behaviors/page.behavior.html">

<link rel="import" href="../styles/page.style.html">
<link rel="import" href="../styles/tile.style.html">
<link rel="import" href="../styles/colors.style.html">

<dom-module id="cgu-view">
	<template>
	<style include="tile-style page-style colors-style">
	:host {
		display: block;
	}

	</style>

	<app-section back="true" heading="Conditions générales de vente et d'utilisation du site" main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
		<div class="tile">
			<h2>INTRODUCTION</h2>

			<p>Les conditions générales de ventes décrites ci-après détaillent les droits et obligations de l’entreprise UN P’TIT

				COIN D’SAVONNERIE, entreprise individuelle de Annelies Douhard et de ses Clients dans le cadre de la vente

				des marchandises suivantes : savons, autres cosmétiques bio, accessoires.

				Elles s’appliquent à l’exclusion de tout autre document

				Le site https://ptitcoinsavonnerie.fr est un site d’information et de commerce électronique accessible par le réseau

				Internet, ouvert à tout utilisateur de ce réseau. Il est édité par la société UN P’TIT COIN D’SAVONNERIE et

				permet de proposer à la vente des savons fabriqués par UN P’TIT COIN D’SAVONNERIE et autres cosmétiques

				ou accessoires à des Internautes naviguant sur le site, ci-après dénommés « Utilisateurs ». L’Utilisateur ayant

				validé une commande sera dénommé « Client ». Les droits et obligations de l’Utilisateur s’appliquent

				nécessairement au Client.

				Toute commande d’un produit proposé sur le site suppose la consultation et l’acceptation expresse des présentes

				conditions générales de vente et de rétractation. En validant sa commande, le client déclare avoir lu et accepté

				sans réserve les présentes &quot;Conditions Générales de Vente et d’Utilisation du site ».
			</p>

			<h2>IDENTITÉ DE L’ENTREPRISE</h2>

			<p>Annelies DOUHARD, entreprise individuelle, désignée ci-après par son nom commercial UN P’TIT COIN

				D’SAVONNERIE, enregistrée au Registre du Commerce de Créteil depuis le 28 mars 2017 sous le

				N° 379 707 714

				N°SIRET 37970771400026 / Code APE 2042Z

				Adresse postale :

				Un p’tit coin d’Savonnerie

				4 bis avenue des Sorbiers

				F-94210 – La Varenne Saint Hilaire

				Personne responsable :

				Annelies Douhard

				Tél : 06 37 45 56 33

				contact@ptitcoinsavonnerie.fr</p>

				<h2>PRODUITS</h2>

				<p>Conformément à l’Article L 111-1 du Code de la consommation, le Client doit pouvoir prendre connaissance des

					caractéristiques essentielles des produits avant la commande.

					UN P’TIT COIN D’SAVONNERIE présente les caractéristiques de ses produits avec la plus grande précision

					possible. En cas d’erreur, UN P’TIT COIN D’SAVONNERIE ne pourra pas être tenu pour responsable. Les

					photographies et textes illustrant les produits n’entrent pas dans le champ contractuel.

					UN P’TIT COIN D’SAVONNERIE se réserve le droit de remplacer un savon de forme rectangulaire par une autre

					forme du même poids.

					Les offres présentées par UN P’TIT COIN D’SAVONNERIE ne sont valables que dans la limite des stocks

					disponibles. En cas d’indisponibilité d’un produit, le Client sera informé au plus vite.

					Afin de préserver toutes leurs propriétés, les savons doivent être conservés jusqu’à leur utilisation à l’abri de

					l’humidité, de la lumière et d’une température élevée.

					La revente des produits fabriqués par UN P’TIT COIN D’SAVONNERIE n’est pas autorisée sauf accord écrit et

					contractuel avec la société détentrice de la marque.</p>

					<h2>PRIX</h2>

					<p>Les prix des marchandises vendues sont ceux en vigueur le jour de la prise de commande. Ils sont libellés en

						Euro TTC (toutes taxes comprises). Ils seront majorés des frais de transport applicables le jour de la commande.

						UN P’TIT COIN D’SAVONNERIE s&#39;accorde le droit de modifier ses tarifs à tout moment. Toutefois, UN P’TIT

						COIN D’SAVONNERIE s&#39;engage à facturer les marchandises commandées aux prix indiqués lors de

						l&#39;enregistrement de la commande.</p>

						<h2>ENREGISTREMENT ET VALIDATION DE COMMANDE</h2>

						<p>L&#39;Utilisateur peut prendre connaissance des produits proposés à le vente, naviguer librement sur les différentes

							pages du site et ajouter des produits au panier sans être engagé au titre d’une commande. Il pourra obtenir un

							récapitulatif des produits qu’il a sélectionnés en cliquant sur le panier.

							L&#39;Utilisateur qui souhaite commander un produit doit suivre la procédure suivante :
							<ul>
								<li>Créer un compte en remplissant la fiche d&#39;identification sur laquelle il indiquera toutes les coordonnées
									demandées</li>
									<li>Ou s’identifier en saisissant son adresse e-mail et le mot de passe confidentiel qu’il aura préalablement
										choisi lors de la création de son compte</li>
										<li>L&#39;Utilisateur est informé et accepte que la saisie de ces deux identifiants (adresse e-mail et mot de
											passe) vaut preuve de son identité et manifeste son consentement.</li>
											<li>L&#39;Utilisateur devra valider le bon de commande après avoir vérifié la nature, la quantité et le prix des
												produits sélectionnés, le montant total de la commande, les frais de port et l’adresse de livraison.</li>
												<li>L&#39;Utilisateur devra effectuer le paiement par les moyens proposés.</li>
												<li>En validant sa commande, l&#39;Utilisateur est considéré comme ayant accepté en connaissance de cause
													et sans réserve les présentes conditions générales de vente, ainsi que les prix affichés, volumes et
													quantités des produits proposés à la vente et commandés. Cette validation à valeur de « signature
													numérique ».</li>
													<li>Une modification de la commande après validation n’est pas possible.</li>
												</ul>

												Cependant, l’Utilisateur peut annuler sa commande par e-mail dans l&#39;heure suivant sa validation.

												La vente ne sera considérée comme définitive qu&#39;après envoi à l&#39;Utilisateur de la confirmation de la commande

												par UN P’TIT COIN D’SAVONNERIE et encaissement de l&#39;intégralité du prix.

												La date de livraison estimative indiquée sur le site ou le récapitulatif de commande est non contractuelle et

												n’engage pas UN P’TIT COIN D’SAVONNERIE.</p>

												<h2>MODALITÉS DE PAIEMENT</h2>

												<p>Les commandes sont payables en Euro, par l’un des moyens de paiement proposés :
													<ul>
														<li>Paypal</li>
													</ul>

													Il est précisé qu&#39;en effectuant un règlement par carte bancaire, l&#39;Utilisateur sera alors basculé automatiquement

sur le serveur monétique de la plateforme de paiement sécurisé. Cette plateforme fait l&#39;objet d&#39;une sécurisation

par cryptage S.S.L. (Secure Socket Layer) de manière à protéger toutes les données liées aux moyens de

paiement, et qu&#39;à aucun moment les données bancaires de l&#39;Utilisateur ne transiteront sur le système

informatique d’UN P’TIT COIN D’SAVONNERIE.

													Dès la validation du paiement par l’Utilisateur, la commande est enregistrée. L&#39;Utilisateur devient Client. UN P’TIT

													COIN D’SAVONNERIE envoie au Client une confirmation de commande qui sera considéré comme preuve des

													relations contractuelles intervenues entre les parties.

													Conformément à l&#39;article « Droit de rétractation » ci-après, le Client dispose d&#39;un droit de rétractation et de

													remboursement, pendant un délai de quatorze (14) jours ouvrables à compter de la date de réception des

													produits par le Client.

													Le Client a également la possibilité d’acheter les produits présentés sur le site en se rendant à l’atelier de

													fabrication situé au 4bis avenue des Sorbiers, 94210 La Varenne Saint Hilaire, aux horaires d’ouverture spécifiés

													sur le site.

													UN P’TIT COIN D’SAVONNERIE accepte les moyens de paiement suivants pour une vente à l’Atelier :

													<ul>
														<li>Carte bancaire</li>
														<li>Espèces en Euro</li>
														<li>Chèque bancaire ou postal</li>
														<li>Monnaie locale « La Pêche »</li>
													</ul>

													Preuve de la transaction et du paiement :

													Les données enregistrées par le système informatique d’UN P’TIT COIN D’SAVONNERIE ont force probante,

													sauf erreur manifeste dont le Client a la charge de la preuve.</p>

													<h2>MODALITÉS DE LIVRAISON</h2>

													<p>
														Livraison uniquement en France métropolitaine.

														Les commandes sont traitées du lundi au vendredi, elles sont expédiées dans un délai de 48 heures après

														réception du règlement, en enveloppe à bulles ou carton selon la quantité de produits commandés.

														La livraison en France métropolitaine est effectuée par Colissimo, en 2 à 3 jours ouvrables, avec livraison en

														boîte aux lettres (si la taille du colis le permet).

														Le délai de livraison indiqué lors de l&#39;enregistrement de la commande n&#39;est donné qu&#39;à titre indicatif et n&#39;est

														aucunement garanti.

														UN P’TIT COIN D’SAVONNERIE décline toute responsabilité quant à l’allongement des délais de livraison du fait

														du transporteur ou la perte du colis. Les produits sont livrés à l’adresse indiquée par l’Utilisateur sur le bon de

														commande. Toute réclamation résultant d’un renseignement erroné de la part de l’Utilisateur ne sera prise en

														compte en cas de livraison retardée ou non distribuée.

														Toute anomalie concernant la livraison (colis ouvert, colis endommagé, produits endommagés…) devra être

														impérativement indiquée sur le bon de transport sous forme de &quot;réserves manuscrites&quot;, accompagnée de la

														signature du Client, en cas de remise du colis contre signature, et signalée immédiatement par e-mail à UN P’TIT

														COIN D’SAVONNERIE, avec photo pour les colis livrés en boîte aux lettres, afin qu’une réclamation puisse être

														faite auprès de Coliposte. En cas de produits endommagés, UN P’TIT COIN D’SAVONNERIE renverra au Client

														le ou les produits de remplacement, à ses frais. Si le ou les produits perdus n’étaient plus disponibles à ce

														moment, UN P’TIT COIN D’SAVONNERIE rembourserait au Client le montant de ces produits.</p>



														<h2>DROIT DE RÉTRACTATION</h2>

														<p>Le Client dispose d&#39;un droit de retour de quatorze (14) jours à compter de la réception de la totalité de sa

															commande pour se rétracter sans nécessairement donner de motif.

															Pour exercer le droit de rétractation, le client doit notifier sa décision de rétractation de sa commande par une

															déclaration écrite dénuée d’ambigüité en précisant son nom et prénom, e-mail, adresse, numéro et date de

															commande :

															<ul>
																<li>soit par e-mail à contact@ptitcoinsavonnerie.fr</li>
																<li>soit par courrier postal à Un p’tit coin d’Savonnerie - 4 bis avenue des Sorbiers – F-94210 – La Varenne
																	Saint Hilaire.</li>
																</ul>

																En cas de rétractation du Client, UN P’TIT COIN D’SAVONNERIE remboursera les paiements reçus du Client au

																plus tard quatorze (14) jours à compter du jour où UN P’TIT COIN D’SAVONNERIE est informé de la décision de

																rétractation du Client.



																Le remboursement sera effectué à hauteur du prix des produits retournés et par le même moyen de paiement

																que celui que le Client a utilisé pour sa commande ou par virement bancaire.

																Les frais de transport ne sont pas remboursables.

																UN P’TIT COIN D’SAVONNERIE pourra différer ce remboursement jusqu’à réception et vérification des produits.

																Le Client doit retourner les produits au plus tard quatorze (14) jours après avoir communiqué sa décision de

																rétractation.

																Les produits retournés doivent être non utilisés, complets, non abîmés et emballés correctement.

																Le retour des colis doit s&#39;effectuer à l&#39;adresse suivante :

																Un p’tit coin d’Savonnerie

																4 bis avenue des Sorbiers

																F-94210 La Varenne Saint Hilaire.

																accompagné des informations suivantes sur papier libre : nom et prénom, e-mail, adresse, numéro et date de

																commande.

																Le Client prend en charge les frais de renvoi de la commande complète ou des produits.</p>

																<h2>LITIGES</h2>

																<p>Les présentes conditions générales sont soumises au droit français.

																	UN P’TIT COIN D’SAVONNERIE ne peut être tenu pour responsable des dommages de toute nature, tant

																	matériels qu&#39;immatériels ou corporels, qui pourraient résulter de la mauvaise utilisation des produits

																	commercialisés.

																	En cas de litige, le Client s&#39;adressera par priorité à UN P’TIT COIN D’SAVONNERIE pour obtenir une solution

																	amiable. Les réclamations ou contestations seront toujours reçues avec bienveillance.

																	En cas de litige, le Tribunal de Commerce de Créteil est seul compétent, quels que soient le lieu de livraison et le

																	mode de paiement acceptés.</p>



																	<h2>TRAITEMENT DE VOS DONNÉES PERSONNELLES</h2>

																	<p>Conformément à la loi Informatique et Libertés du 6 janvier 1978, l’Utilisateur bénéficie d’un droit d’accès, de

																		rectification et de suppression des informations le concernant, qu’il peut exercer en écrivant à

																		contact@ptitcoinsavonnerie.fr ou à UN P’TIT COIN D’SAVONNERIE - 4 bis avenue des Sorbiers – F-94210 – La

																		Varenne Saint Hilaire

																		Les données collectées ont fait l’objet d’une déclaration n° 2054806 à la CNIL en date du 12/04/2017.</p>

																		<h2>PROPRIÉTÉ INTELLECTUELLE</h2>

																		<p>« UN P’TIT COIN D’SAVONNERIE » est une marque protégée.</p>
																		</div>
																	</app-section>

																</template>
																<script>
																'user strict';
																Polymer({
																	is: 'cgu-view',

																	properties: {
																		pageData: {
																			type: Object,
																			computed: '_computePageData(appData)'
																		},
																	},

																	behaviors: [window.PageBehavior],

																	_computePageData: function(appData) {
																		return {
																			title: 'CGU',
																			description: "Conditions générales d'utilisation de "+appData.name+"."
																		}
																	},
																});
																</script>
															</dom-module>
