<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../components/section.component.html">
<link rel="import" href="../components/carousel.component.html">
<link rel="import" href="../components/card.component.html">

<link rel="import" href="../behaviors/page.behavior.html">

<link rel="import" href="../data/highlight.data.html">

<link rel="import" href="../styles/page.style.html">
<link rel="import" href="../styles/tile.style.html">
<link rel="import" href="../styles/colors.style.html">
<link rel="import" href="../styles/font.style.html">

<dom-module id="home-view">
      <template>
      <style include="tile-style font-style page-style colors-style">
      :host {
            display: block;
      }

      app-carousel {
            display: flex;
            width: 100%;
            height: 320px;
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
            z-index: 1;
            --carousel-border-radius: 3px;
      }

      .containerCards {
            margin-left: auto;
            margin-right: auto;

            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            z-index: 1;
      }

      app-card, paper-card {
            flex-shrink: 0;
            flex-grow: 1;
            margin-top: 10px;
            width: 300px;

            margin-left: 10px;
            margin-right: 10px;

            overflow: hidden;
            position: relative;
      }

      .card-bio {
            --app-card-heading-color: #FFC107;
      }

      .card-friendly {
            --app-card-heading-color: #CDDC39;
      }

      .card-sapo {
            --app-card-heading-color: #00BCD4;
      }

      #who {
            --app-card-header-height: 320px;
      }
      </style>

      <highlight-data items="{{highlighted}}"></highlight-data>

      <app-section heading="Les derniers savons" main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
            <app-carousel products="[[highlighted]]"></app-carousel>
      </app-section>

      <app-section id="business" heading="Savons naturels faits main!" title-color="--app-white" main-background="--app-dark-grey" fill-background="--app-section-fill-color">
            <div class="containerCards">

                  <app-card class="card-friendly" heading="Naturels et écologiques" icon="app-icons:earth">
                        <p>
                              Tout mes savons sont :
                              <ul>
                                    <li>SANS conservateurs</li>
                                    <li>SANS parfums de synthèse</li>
                                    <li>SANS colorants artificiels</li>
                                    <li>SANS huile de palme</li>
                                    <li>SANS emballages (en vente atelier)</li>
                              </ul>
                        </p>
                  </app-card>

                  <app-card class="card-bio" heading="Matières premières bio" icon="app-icons:pot-mix">
                        <p>
                              Mes savons sont formulés à base
                              d’huiles végétales bio de première
                              qualité, délicatement parfumés
                              aux huiles essentielles bio choisis
                              pour leurs propriétés
                              dermatologiques et colorés
                              naturellement avec des végétaux
                              et argiles.
                        </p>
                  </app-card>

                  <app-card class="card-sapo" heading="Saponification à froid" icon="app-icons:snowflake">
                        <p>
                              Je fabrique mes savons de
                              manière artisanale par
                              saponification à froid. Cette
                              méthode écologique, sans
                              cuisson, préserve les propriétés
                              des huiles et donne un savon très
                              doux et hydratant car il est
                              surgras et naturellement très
                              riche en glycérine.
                        </p>
                  </app-card>

            </div>
      </app-section>

      <app-section id="workshop" heading="Comment est née la savonnerie ?" main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
            <div class="containerCards">
                  <app-card id="who"
                  alt="Photo de la savonnerie"
                  image="https://firebasestorage.googleapis.com/v0/b/savon-1df9a.appspot.com/o/images%2FPRESENTATION%204110%20R2.jpg?alt=media&token=0d9e7ca1-0994-4775-86b0-3dc5931efde9"
                  placeholder="data:image/jpeg;base64,/9j/2wBDAAYEBQYFBAYGBQYHBwYIChAKCgkJChQODwwQFxQYGBcUFhYaHSUfGhsjHBYWICwgIyYnKSopGR8tMC0oMCUoKSj/2wBDAQcHBwoIChMKChMoGhYaKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCgoKCj/wAARCAAFAAoDASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAAQH/8QAIhAAAgEDAgcAAAAAAAAAAAAAAQIDAAYRBCEFEhMxQVGR/8QAFQEBAQAAAAAAAAAAAAAAAAAAAwT/xAAZEQEBAQEBAQAAAAAAAAAAAAABAgMABBH/2gAMAwEAAhEDEQA/AMcN88MjTowWzFFEowqrq22HYDPLn18qJ7tt53ZpLL0juTlmOtlyx8nalKGcpH6HV6+nW5CqUO//2Q==">
                  <p>
                        Il y a quelques années, cherchant un produit naturel et sain qui lave sans dessécher la peau, j’ai découvert la savonnerie à
                        froid. Des savons faits main à la maison - ce fut une révélation !
                  </p>
                  <div class="color-primary font-big font-bold">DOUX et FAIT MAIN !</div>
                  <p>J’ai commencé à fabriquer mes savons pour la famille et les amis et me suis formée auprès de Leanne & Sylvain Chevallier,
                        pionniers de la savonnerie à froid en France. En parallèle, j’ai peaufiné mes formules et cherché les ingrédients les plus
                        sains et écologiques possibles.
                  </p>
                  <div class="color-primary font-big font-bold">BIO et ECOLOGIQUES !</div>
                  <p>
                        Début 2017 j’ai décidé de faire de ma passion mon métier en créant un petit atelier de savonnerie et en privilégiant
                        toujours la qualité des ingrédients : huiles végétales et essentielles bio. Le zéro emballage est possible si vous venez
                        chercher les savons à la savonnerie !

                        Mon objectif est d’obtenir la certification Nature & Progrès.
                  </p>
                  <div class="color-primary font-big font-bold">VEGAN et LOCAL !</div>
                  <p>
                        J’ai fait le choix d’utiliser exclusivement des matières grasses d’origine végétale que la nature nous offre en si grande
                        variété. Je fabrique tous les savons dans mon atelier en région parisienne. La vente est avant tout locale et toujours
                        directe, du producteur au consommateur.
                  </p>
            </app-card>
      </div>
</app-section>

</template>
<script>
'user strict';
Polymer({
      is: 'home-view',

      properties: {
            pageData: {
                  type: Object,
                  computed: '_computePageData(appData)'
            }
      },

      _computePageData: function(appData) {
            return {
                  title: 'Accueil',
                  description: appData.name+" vous propose toute une gamme de savons biologiques, véganes et artisanaux, en accord avec votre corps et l'environnement."
            }
      },

      behaviors: [window.PageBehavior],
});
</script>
</dom-module>
