<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../components/product-detail.component.html">
<link rel="import" href="../components/section.component.html">

<link rel="import" href="../behaviors/page.behavior.html">

<link rel="import" href="../styles/page.style.html">

<dom-module id="product-detail-view">
  <template>
  <style include="page-style">
  :host {
    display: block;
  }
  </style>

  <app-section back="true" main-background="--app-section-header-background-color" fill-background="--app-section-fill-color">
    <product-detail id="detail" online="[[online]]" app-data="[[appData]]" product-id="[[productId]]"></product-detail>
  </app-section>

  </template>
  <script>
  'use strict';
  Polymer({
    is: 'product-detail-view',

    properties: {
      productId : {
        type: String,
        value: null,
      },

      pageData: {
        type: Object,
        value: {
          category: "Produit",
          topic: 'detail',
          path: "product"
        }
      },

      user: Object,
      appData: Object,
    },

    behaviors: [window.PageBehavior],

    _onSelected: function () {
      if(this.productId === this.route.path.slice(1)) {
        this.$.detail._shapePictures();
      } else {
        this.$.detail.standard = null;
        this.$.detail.quantity = null;
        this.productId = this.route.path.slice(1);
      }
    },

    _onLeave: function() {
      this.$.detail.reset();
    },

  });
  </script>
</dom-module>
