<link rel="import" href="../../bower_components/polymer/polymer.html">

<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="api-call">
  <template>

  <style>
  </style>

  <iron-ajax
    id="ajax"
    url="[[uri]]"
    method="[[method]]"
    on-response="_forwardResponse"
    handle-as="json">
  </iron-ajax>

</template>
<script>
'use strict';

Polymer({
  is: 'api-call',
  properties: {
    uri: {
      type: String,
    },

    method: {
      type: String,
      value: "POST",
    },
  },

  request: function (data, freshFbt) {
    var _this = this;
    var ajax = this.$.ajax;

    var authProcess = (!freshFbt || typeof freshFbt == "undefined") ? firebase.auth().currentUser.getToken(true) : Promise.resolve(freshFbt);
    authProcess.then(function(token) {
        ajax.headers['x-user-fbt'] = token;
        if ('GET' == _this.method) {
          ajax.params = data;
        }
        else {
          ajax.headers['content-type'] = 'application/json';
          ajax.body = JSON.stringify(data);
        };
        ajax.generateRequest();
    }).catch(function(err) {
          console.log("Error with auth token ", err);
    });
  },

  _forwardResponse: function (e) {
    e.stopPropagation();
    var response = e.detail.__data__.response;
    this.fire('response', response);
  },

});
</script>
</dom-module>
