<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../../bower_components/iron-image/iron-image.html">

<dom-module id="app-card">
      <template>

      <style>
      :host {
            display: flex;
            flex-direction: column;
            box-shadow: var(--app-shadow);
            border-radius: 3px;
            flex-grow: 1;
      }

      h2 {
            margin: 0;
      }

      #header {
            height: var(--app-card-header-height, 180px);
            width: 100%;
            background-color: var(--app-card-heading-background-color, white);
            color: var(--app-card-heading-color, black);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
      }

      iron-icon {
            height: calc(100% - 46px);
            width: 100%;
      }

      iron-image {
          height: 100%;
          width: 100%;
          @apply --app-card-image;
      }

      #text {
            border-top: 1px solid var(--app-light-grey);
            padding: var(--app-space);
            background-color: var(--app-card-text-background-color, white);
            color: var(--app-card-text-color, black);
            flex-grow: 1;
            box-sizing: border-box;
      }
      </style>

      <div id="header">
            <template is="dom-if" if="[[icon]]">
                  <iron-icon icon="[[icon]]"></iron-icon>
            </template>
            <template is="dom-if" if="[[image]]">
                  <iron-image
                  placeholder="[[placeholder]]"
                  sizing="[[sizing]]"
                  preload src="[[image]]"
                  alt="[[alt]]"
                  fade></iron-image>
            </template>
            <template is="dom-if" if="[[heading]]">
                <h2>[[heading]]</h2>
            </template>
      </div>
      <div id="text">
            <content></content>
      </div>

</template>
<script>
'use strict';

Polymer({
      is: 'app-card',
      properties: {
            icon: {
                type: String,
                value: null
            },
            image: {
                type: String,
                value: null
            },
            sizing: {
                type: String,
                value: 'cover'
            },
            placeholder: String,
            heading: String,
            alt: String
      }
});
</script>
</dom-module>
