<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="app-date">
      <template>
      <style>
      :host {
            display: inline-block;
            color: var(--app-accent-color);
      }

      span {
            color: inherit;
      }
      </style>

      <div>
        <iron-icon icon="event"></iron-icon>
        [[date]]
    </div>

</template>
<script>
Polymer({
      is: 'app-date',
      properties: {
            json: {
                  type: Object,
                  value: {empty: true}
            },
            timestamp: {
                  type: Number,
                  value: null
            },
            string: {
                  type: String,
                  value: ''
            },
            months: {
                  type: Array,
                  value: ['janv.', 'févr.', 'mars', 'avr.', 'mai', 'juin', 'juil.', 'août', 'sept.', 'oct.', 'nov.', 'déc.']
            },
            date: String
      },

      observers: [
            '_computeDate(json, timestamp, string, months)'
      ],

      _computeDate: function(json, timestamp, string, months) {
          if(!json.empty) {
                this.date = ' '+parseInt(json.day)+' '+this.months[parseInt(json.month) - 1]+' '+json.year+' ';
          } else if (timestamp) {
            this.date = this._buildDate(new Date(timestamp));
          } else if(string !== '') {
            this.date = ' '+ string +'';
          }
      },

      _buildDate: function (date) {
        var builtDate = ' '+date.getDate()+' '+this.months[date.getMonth()]+' '+date.getFullYear()+' ';
        if (this.hasAttribute('display-time')) {
          builtDate += '- '+ this._prefixZero(date.getHours()) +'h'+ this._prefixZero(date.getMinutes());
        }
        return builtDate;
      },

      _prefixZero: function(val) {
        if(parseInt(val) < 10 && val[0] !== "0") return "0"+val;
        else return val;
      },
});
</script>
</dom-module>
