<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="logo-savonnerie">
      <template>

      <style>

        svg {
          @apply(--logo-savonnerie-dimension);
        }

        svg > g > path {
          fill: var(--logo-savonnerie-fill, --app-white);
        }

      </style>

      <svg id="waitLogo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 24 24">
            <g><path d="M19 4h-4L7.11 16.63 4.5 12 9 4H5L.5 12 5 20h4l7.89-12.63L19.5 12 15 20h4l4.5-8z"/></g>
      </svg>

      </template>
      <script>
      'use strict';

      Polymer({
          is: 'logo-savonnerie',
          properties: {

            width: {
              type: String,
              value: "1024",
            },

            height: {
              type: String,
              value: "1024",
            },

          },
      });
      </script>
</dom-module>
