<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-validatable-behavior/iron-validatable-behavior.html">
<link rel="import" href="../../bower_components/iron-form-element-behavior/iron-form-element-behavior.html">

<link rel="import" href="../styles/shop-input.style.html">

<dom-module id="price-input">
	<template>

	<style include="shop-input">

	:host {
		display: flex;
	}

	shop-input {
		width: 100%;
	}

	</style>

	<shop-input>
		<input type="text" id="price" required="" placeholder="[[label]]" value="{{data::input}}">
		<shop-md-decorator error-message$="[[error]]" aria-hidden="true">
			<label>[[label]]</label>
			<shop-underline></shop-underline>
		</shop-md-decorator>
	</shop-input>

</template>
<script>
'use strict';

Polymer({
	is: 'price-input',
	properties: {
		label: String,
		error: {
			type: String,
			value: 'Le prix doit être un chiffre positif'
		},
		value: {
			type: Number,
			notify: true,
			observer: '_resetWatcher',
			value: null
		},
		data: {
			type: String,
		}
	},

	behaviors: [Polymer.IronFormElementBehavior, Polymer.IronValidatableBehavior],

	attached: function() {
		this.addEventListener('blur', this.validate);
	},

	_resetWatcher: function(newVal, oldVal) {
		if(newVal === null && typeof oldVal !== 'undefined') this.reset();
	},

	_parse: function(newData) {
		if(newData && newData !== this.value) {
			if(typeof newData === 'string') this.value = parseFloat( newData.replace(',', '.') );
			else if(typeof newData === 'number') this.value = newData;
			this.data = isNaN(this.value) ? '' : this.value;
		}
	},

	_setInputState: function(bool) {
		if(bool) {
			this.$.price.setCustomValidity('');
			this.$.price.removeAttribute('aria-invalid');
		} else {
			this.$.price.setCustomValidity('Invalid field');
			this.$.price.setAttribute('aria-invalid', true);
		}
	},

	reset: function() {
		this.data = '';
		this._setInputState(true);
	},

	validate: function() {
		this._parse(this.data);
		var ok = !isNaN(this.value) && this.value > 0;
		this._setInputState(ok);
		return ok;
	}
});
</script>
</dom-module>
