<link rel="import" href="../../bower_components/polymer/polymer.html">

<dom-module id="app-separator">
  <template>
  <style>
  :host {
    display: block;
    width: 100%;
  }

  .separator {
    width: 100%;
    height: 1px;
    background-color: var(--app-accent-color);
    margin: var(--app-space) 0;
    box-sizing: border-box;
  }
  </style>

  <div class="separator"></div>

  </template>
  <script>
  'use strict';

  Polymer({
    is: 'app-separator',
    properties: {

    },
  });
  </script>
</dom-module>
