<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">

<link rel="import" href="../behaviors/list-animation.behavior.html">

<link rel="import" href="data-source.component.html">
<link rel="import" href="loading-layer.component.html">
<link rel="import" href="product-tile.component.html">

<link rel="import" href="../styles/list.style.html">

<dom-module id="app-shop">
	<template>
	<style include="list-style">
	:host {
		display: flex;
		height: 100%;
		width: 100%;
		min-height: var(--app-section-min-height);
		position: relative;
		overflow: hidden;
	}

	.container {
		margin-left: auto;
		margin-right: auto;
		min-height: 355px;
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		flex-grow: 1;
		z-index: 1;
	}

	#noProductTile {
		height: 300px;
		width: 60%;
		min-width: 300px;
	}

	.card-content {
		height: 150px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.card-content iron-icon {
		width: 70px;
		height: 70px;
	}

	.item {
		transform: translate(-20px, -20px) scale(0.9);
	}

	</style>

	<data-source path="/active_products" cache-key="active-products" array="$key" output="{{data}}" empty="{{empty}}" fetching="{{loading}}"></data-source>

	<div class="container" id="list">
		<template is="dom-repeat" items="[[data]]">
			<product-tile class="item" data="[[item]]"></product-tile>
		</template>

		<template is="dom-if" if="[[empty]]">
			<div></div>
			<paper-card class="item" id="noProductTile" heading="Aucun produit...">
				<div class="card-content">
					<div>...pour le moment !<br> Mais n'hésitez pas à repasser !</div>
					<iron-icon icon="social:mood"></iron-icon>
				</div>
			</paper-card>
			<div></div>
		</template>

		<template is="dom-if" if="[[!empty]]">
			<product-tile filler></product-tile>
			<product-tile filler></product-tile>
		</template>
	</div>

	<loading-layer transparent show="[[loading]]"></loading-layer>

</template>
<script>
'use strict';
Polymer({

	is: 'app-shop',

	behaviors: [window.ListAnimationBehavior],

});
</script>
</dom-module>
