<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">
<link rel="import" href="../behaviors/tabindex.behavior.html">
<link rel="import" href="../behaviors/form.behavior.html">
<link rel="import" href="button.component.html">
<link rel="import" href="../styles/form.style.html">
<link rel="import" href="../styles/colors.style.html">
<link rel="import" href="../styles/shop-input.style.html">

<dom-module id="sign-in-credentials">
      <template>
      <style include="form-style shop-input colors-style">
      :host {
            display: block;
      }

      #forgotPassword {
            margin-top: var(--app-space);
      }

      #noAccount {
            display: flex;
            margin-bottom: var(--app-double-space);
            align-items: center;
      }

      a {
            cursor: pointer;
            margin-left: 5px;
            outline: none;
      }

      </style>

      <iron-a11y-keys target="[[target]]" keys="enter"
      on-keys-pressed="_signIn"></iron-a11y-keys>

      <form id="form" is="iron-form">
            <template is="dom-if" if="[[registerButton]]">
                  <div id="noAccount">
                        <p>Pas de compte ?</p>
                        <a class="color-primary" tabable on-tap="_noAccount">
                              <iron-icon icon="social:person-add"></iron-icon>
                              Inscrivez vous !
                        </a>
                  </div>
            </template>
            <div class="row input-row">
                  <shop-input>
                        <input id="mail" type="email" tabable name="email" required="" placeholder="Email" autocomplete="email">
                        <shop-md-decorator error-message="Champs requis" aria-hidden="true">
                              <label>Email</label>
                              <shop-underline></shop-underline>
                        </shop-md-decorator>
                  </shop-input>
            </div>

            <div class="row input-row">
                  <shop-input>
                        <input id="password" type="password" tabable name="password" pattern=".{6,}" required="" placeholder="Mot de passe">
                        <shop-md-decorator error-message="6 caractères minimum" aria-hidden="true">
                              <label>Mot de passe</label>
                              <shop-underline></shop-underline>
                        </shop-md-decorator>
                  </shop-input>
            </div>
            <div id="buttons">
                  <app-button class="color-white bg-validation" icon="social:person" raised  tabable on-tap="_signIn">Connexion</app-button>
            </div>
            <app-button raised class="color-white bg-action" id="forgotPassword" tabable on-tap="_sendMail">Mot de passe oublié ?</app-button>
      </form>


</template>
<script>
Polymer({
      is: 'sign-in-credentials',
      behaviors: [window.TabindexBehavior, window.FormBehavior],

      properties: {
            registerButton: {
                  type: Boolean,
                  value: true,
            },
            target: {
                  type: Object,
                  value: function() {
                        return this.$.password;
                  }
            },
      },

      focus: function() {
            this.$.mail.focus();
      },
      _noAccount: function() {
            this.fire('no-account');
      },
      _signIn: function() {
            var ok = this.validateForm();
            if(ok) this.fire('sign-in', {provider: undefined, credentials: this.$.form.serialize()});
      },

      _sendMail: function() {
            var ok = this.$.mail.checkValidity();
            if(ok) this.fire('forgot-password', {mail: this.$.mail.value});
            else {
                  this.$.mail.setAttribute('aria-invalid', true);
                  this.$.mail.focus();
            }
      },

      reset: function(){
            this.$.form.reset();
      },

});
</script>
</dom-module>
