<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/iron-icon/iron-icon.html">

<dom-module id="upload-thumbnail">
	<template>
	<style>
	:host {
		display: block;
		position: relative;
		width: 200px;
		height: 100px;
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
		border-radius: 3px;
	}

	.full {
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		border-radius: 3px;
	}

	.fadeIn {
		will-change: opacity;
		opacity: 0;
		transition: opacity  .2s ease-in .2s;
	}

	#name {
		text-overflow: ellipsis;
		text-align: center;
		background-color: var(--app-secondary-color);
		color: var(--app-white);
		white-space: nowrap;
		overflow: hidden;
		line-height: 100px;
		padding: 5px;
		box-sizing: border-box;
	}

	#base {
		background-size: cover;
	}

	#src {
		overflow: hidden;
	}

	#src img {
		width: 100%;
	}

	.error {
		background-color: var(--app-error-color) !important;
	}

	iron-icon {
		position: absolute;
		top: 5px;
		right: 5px;
		fill: var(--app-black);
		background-color: var(--app-white);
		box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.16),0px 2px 5px 0px rgba(0,0,0,0.23);
		border-radius: 50%;
		cursor: pointer;
	}

	</style>

	<div class="full" id="name">[[name]]</div>
	<div class="full fadeIn" id="base"></div>
	<div class="full fadeIn" id="src"></div>
	<iron-icon id="close" on-tap="_remove" icon="close"></iron-icon>

</template>
<script>
Polymer({
	is: 'upload-thumbnail',

	properties: {
		name: String,
		base64: {
			type: String,
			observer: '_base64Changed'
		},

		src: {
			type: String,
			observer: '_srcChanged',
		},

		index: {
			type: Number,
			value: null
		}
	},

	_base64Changed: function(newVal, oldVal) {
		if(!newVal) return;
		var el = this.$.base;
		el.style.backgroundImage = 'url('+this.base64+')';
		requestAnimationFrame(function() {
			el.style.opacity = 1;
		})
	},

	_srcChanged: function (newVal) {
		if(!newVal) return;

		var name = this.$.name;

		var currentImage = this.$.src.querySelector('img');
		if(currentImage) this.$.src.removeChild(currentImage);

		var img = document.createElement('img');
		img.id = "img";
		img.src = newVal;

		img.onload = function() {
			Polymer.dom(this.$.src).appendChild(img)
			this.$.src.style.opacity = 1;
		}.bind(this);

		img.onerror = function() {
			name.classList.add('error');
			name.innerHTML = 'Echec';
		};
	},

	_remove: function() {
		this.fire('remove-file', {index: this.index});
	}

});
</script>
</dom-module>
